/build/
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/.filecache
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/App.framework/App
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/app.dill
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/debug_ios_bundle_flutter_assets.stamp
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/debug_universal_framework.stamp
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/debug_unpack_ios.stamp
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/flutter_assets.d
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/gen_dart_plugin_registrant.stamp
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/gen_localizations.stamp
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/kernel_snapshot.d
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/kernel_snapshot.stamp
/.dart_tool/flutter_build/21002d00fbb8dac54a2cf198bac8f46f/outputs.json
